/*------------INDEX------------
1. Imports & Fonts
2. Universal Styling
3. Headings Styling
4. Header Bar Styling
5. Top Section
6. Deadline Calendar
7. Study Timer
8. Goals Section
9. Footer Bar 

@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');


/* -------------- Universal Styling ------------- */
* {
    font-family: "SN Pro", sans-serif;
    margin: 0;
    max-width: 100vw;
    overflow-x: hidden;
}
body{
    background-color: lightgoldenrodyellow;
    background-image: linear-gradient(to right, rgb(255, 255, 165) , rgb(255, 255, 198));
    overflow-x: hidden;
}
wrap {
    color: rgb(255, 255, 154);   
}
.main-content {
    /*border: dashed blue 2px;*/
    margin-left: 8%;
    margin-top: 1%;
    width: 84vw;
} 
a {
    text-decoration: none;
}
/* -------------- Headings Styling ------------- */
h1{
    font-size: 2.2em;
    margin-right: 5vw;
}
h2 {
    font-size: 2.2em;
    margin: 0% 0 2% 0;
}
h3 {
    font-size: 1.75em;
    margin-bottom: 1%;
}
h4 {
    margin: 1% 0;
    font-size: 1.4em;
}
h5{
    margin: 2% 0;
    font-size: .9em;
    
}
/* -------------- Header Bar Styling ------------- */
.header-bar {
    background-color: rgba(44, 44, 44,0.96);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    color: white;
    display: flex;
    flex-direction: row;
    gap: 3%;
    height: 7vh;
    align-items: center;
    position: sticky;
    overflow: hidden;
    top: 0;
    width: 100%;
    margin-left: 0%;
    margin-top: 0;
    padding-left: 8%;
}
.header-bar img{
    color: white;
}
.header-bar h1{
    padding-right: 8%;
}
.header-bar a{
    color: rgba(255, 255, 255, 0.4);
}
.header-bar a:hover {
    color: rgb(255, 255, 154);
    transition: linear 0.4s;
}
/* -------------- Top Section Styling ------------- */
.top-section {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    flex-wrap: nowrap; /* ensures side-by-side layout */
}
/*Media Queries*/
@media screen and (max-width: 1350px) {
    .top-section{
        font-size: 1em;
        flex-direction: column;
    }
    .top-section-left{
        width: 100%;
    }
    .top-section-right{
        width: 100%;
        padding-left: 8vw;
    }
    .calendar-grid {
        width: 100%;
    }
}
.top-section-left {
    width: 50%;
    padding-left: 8vw;
}
.top-section-right {
    width: 30%;
    padding-right: 8vw;
    padding-top: 0.5%;
}
/* -------------- Deadline Calendar Styling ------------- */
.calendar-container {
    margin-left: 0;
    width: 100%;
}
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-left: 0;
    width: 100%;
    margin-bottom: 2%;
}
.day {
    border: 1px solid rgb(44,44,44);
    border-radius: 10px;
    padding: 10px;
    min-height: 60px;
    margin-left: 0; /* let the grid control the column width */
}
.task {
  color:rgb(44, 44, 44);
  font-size: 2.5em;
  padding: 2px 4px;
  margin-top: 4px;
  font-size: 12px;
  border-radius: 3px;
}
.task-adder{
    margin-left: 8vw;
    margin:  1% 1% 1% 8vw;
    padding: .5% 2% .5% 1.5% ;
    background-color:rgba(44, 44, 44,0.95);
    width: 20%;
    border-radius: 20px;
    color: white;
}
.day.blank {
    background-color: rgba(44, 44, 44,0.25); 
}
.day.date {
    background-color: white; /* white */
}
.day.date.has-task {
    background-color: rgb(255, 255, 154); /* yellow */
}
.header-cell{
    text-align: center;
    font-size: 1.35em;
    height: auto;
    min-height: 20px;
}
/* -------------- Task Card Styling ------------- */
.task-display {
    align-content: center;
}
.task-card {
    background-color: rgba(44, 44, 44,0.95);
    border-radius: 25px;
    color: white;
    margin-left: 0;
    margin-bottom: 2%;
    padding: 2%;
    line-height: 1.5;
}
.tag-container{
    margin-left: 0;
    display: flex;
}
.card-tags { /* Conditional Background Colours depending on completion & module */
    background-color: rgb(255, 255, 154);
    color:rgba(44, 44, 44,1);
    border-radius: 20px;
    width: fit-content;
    padding: 0.5% 2%;
    margin: 0.5%;
    
}
/* -------------- Goals Section ----------------*/
#goals {
    background-color:rgb(44, 44, 44);
    padding: 3% 1% 1% 8vw;
    margin: 3% 0;
    width: 100%;
    color: white;
}
.goal-setter{
    margin:  1% 1% 1% 0;
    padding: .5% 2% .5% 1.5% ;
    background-color:rgb(255, 255, 154);
    width: 14%;
    border-radius: 20px;
    color: rgb(44,44,44);
    height: 20%;
    align-content: center;
}
.goal-setter h3 {
    padding: 2%;
    padding-left: 0;
}
.grade-card-container{
    display: flex;

}
.grade-card{
    /*Styling*/
    background-color: rgba(255, 255, 154,0.4);
    color: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    /*Formatting*/
    width: 15%;
    padding: 2%;
    margin: 2%;
    margin-left: 0;
    text-align: center;
}
.grade-card h3 {
    font-size: 4.5em;
}
.grade-card h4 {
    font-size: 2em;
}
/* -------------- Footer Bar Styling ------------- */
.footer-bar {
    background-color: rgb(44, 44, 44);
    color: white;
    display: flex;
    flex-direction: row;
    gap: 3%;
    height: 15vh;
    align-items: center;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    margin-left: 0%;
    margin-top: 0;
    padding-left: 8%;
    font-size: 1.35em;
    line-height: 1.4;
}
.footer-bar a{
    color: rgba(255, 255, 255, 0.4);

}
.footer-bar a:hover {
    color: lightgoldenrodyellow;
    transition: linear 0.4s;
}
.footer-right{
    padding: 20%;
}